{% extends 'base.html' %}

{% block title %}Список товаров{% endblock %}

{% block content %}
<!-- Заголовок раздела -->
<h2>Каталог товаров</h2>

<!-- Сетка товаров -->
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for product in page_obj %}
    <!--Каждая карточка товара-->
    <div class="col">
        <div class="card h-100"> <!-- Карточка Bootstrap с высотой, заполняющей колонку -->
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5> <!-- Название товара -->
                <p class="card-text">{{ product.description }}</p> <!-- Описание товара -->
                <p class="card-text"><strong>{{ product.price }} ₽</strong></p> <!-- Цена товара -->

            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Навигация по страницам (пагинация) -->
<nav class="mt-4">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Назад</a> <!-- Ссылка на предыдущую страницу -->
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Назад</span> <!-- Ссылка на предыдущую страницу -->
        </li>
        {% endif %}

        <!--Номера страниц-->
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <li class="page-item active">
                <span class="page-link">{{ num }}</span> <!-- Активная страница -->
            </li>
            {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2'%}
            <li class="page-item">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a> <!-- Ссылка на следующую страницу -->
            </li>
            {% endif %}
        {% endfor %}

        <!-- Кнопка "Вперед" -->
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Вперед</a> <!-- Ссылка на следующую страницу -->
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Вперед</span> <!-- Заблокированная кнопка, если следующей страницы нет -->
        </li>
        {% endif %}
    </ul>
</nav>


{% endblock %}