{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Мой интернет-магазин{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'catalog/styles.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'catalog/images/logo.png' %}" alt="Логотип магазина" width="100">
        <h1>Добро пожаловать в мой интернет-магазин</h1>
        <nav>
            <a href="/">Главная</a>
            <a href="/product_list/">Каталог</a>
            <a href="/contact/">Контакты</a>
        </nav>
    </header>
    <main>
        {% block content %}
        <!-- Контент страницы -->
        {% endblock %}
    </main>
    <footer>
        <p>© 2024, Интернет-магазин</p>
    </footer>
</body>
</html>